<p id="notice"><%= notice %></p>

<h1>Gata Pages</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gata_pages.each do |gata_page| %>
      <tr>
        <td><%= gata_page.data %></td>
        <td><%= link_to 'Show', gata_page %></td>
        <td><%= link_to 'Edit', edit_gata_page_path(gata_page) %></td>
        <td><%= link_to 'Destroy', gata_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gata Page', new_gata_page_path %>
